@{
    ViewBag.Title = "Reset Password";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Your existing CSS styles */
    </style>
</head>
<body>
    <div class="container">
        <div class="reset-password-form">
            <h2>Reset Password</h2>
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
            {
                <label for="password">New Password:</label>
                <input type="password" id="password" name="password" required />

                <br />

                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required />

                <br />

                <input type="hidden" name="username" value="@ViewBag.Username" />

                <button type="submit">Reset Password</button>
            }
        </div>
    </div>
</body>
</html>
