@model ShoppingCart.Models.Cart

@{
    ViewData["Title"] = "Edit";
}

<h1>Update Quantity</h1>

<h4>Cart</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CartId" class="control-label"></label>
                <input asp-for="CartId" class="form-control" disabled/>
                <span asp-validation-for="CartId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productName" class="control-label"></label>
                <input asp-for="productName" class="form-control" disabled />
                <span asp-validation-for="productName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rate" class="control-label"></label>
                <input asp-for="rate" class="form-control" disabled />
                <span asp-validation-for="rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" id="qty" onblur="changetotal()" min="1"/>
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div
            <div class="form-group">
                <input asp-for="totalprice" class="form-control" id="totalprice"  hidden/>
            </div>
            <br/>
            <br/>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    function changetotal(){
        var rate = parseFloat(document.getElementById('rate').value);
        var quantity = parseInt(document.getElementById('qty').value);
        var total = rate * quantity;

        document.getElementById('totalprice').value = total.toFixed(2);
        
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
